/* Generic Rules */
body {
  background-color: #FFF;
  font-family: 'Exo', sans-serif;
  font-size: 1em;
  min-height: 85vh;
  padding-bottom: 100px;
}

html, body {
  padding: 0;
  margin: 0;
}

/* Banner */
h1 {
  font-family: 'Lobster', cursive;
  font-size: 5.5em;
}

.banner {
  display: flex;
}

.text {
  text-align: center;
  margin: auto;
}

/* Quote */
.author {
  color: #FFF;
  font-family: 'Exo', sans-serif;
  font-size: 1.2em;
}

.quote-box {
  height: 350px;
  max-width: 700px;
  border-radius:5px;
  padding-top: 10px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display:flex;
  
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.button-row {
  flex: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.quote-row {
  flex: 2;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.quote-text {
  color: #FFF;
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
}

/* Footer */
.footer {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}
